@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}

a{
  color: white !important;
  text-decoration: none !important;
  transition: 0.2s !important;
}
a:hover{
  text-decoration: none !important;
  opacity: 0.7 !important;

}
.navbar {
  background-color: transparent;
}
.brand-name {
  color: white;
  font-family: "Archivo Black", sans-serif;
}
.brand-name:hover {
  color: antiquewhite;
  transition: all 0.3s;
}
.brand-name span {
  border: 3px solid mediumblue;
  padding: 5px 0px 5px 0px;
}
.brand-name b {
  background-color: mediumblue;
  padding: 5px 0px 5px 5px;
}
.brand-name u {
  background-color: transparent;
  padding: 0px 5px 5px 5px;
  text-decoration: none;
  font-weight: bold;
}
.navbar-collapse {
  background-color: rgb(0, 0, 0);
  padding-left: 20px;

}
.nav-link {
  color: white;
  font-size: 20px;
  font-family: "Acme", cursive;
}
@media only screen and (max-width: 1200px) {

  .nav-link {
    color: white;
    font-size: 17px;
    font-family: "Acme", cursive;
  }
}
.navbar-toggler {
  border: 1px solid whitesmoke;
  color: white;
}
.navbar-toggler:hover {
  border: 2px solid white;
}
.dropdown-menu {
  background-color: rgb(7, 7, 7);
  color: white;
}
.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.image {
  height: 35px;
  width: 150px;
}
.banner-area {
  background-color: #c0392b;
  background: radial-gradient(
      circle at 50% 30%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 50%,
      rgba(138, 138, 138, 0.04) 50%,
      rgba(138, 138, 138, 0.04) 100%
    ),
    radial-gradient(
      circle at 9% 40%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 50%,
      rgba(71, 71, 71, 0.04) 50%,
      rgba(71, 71, 71, 0.04) 100%
    ),
    radial-gradient(
      circle at 84% 81%,
      rgba(147, 147, 147, 0.04) 0%,
      rgba(147, 147, 147, 0.04) 50%,
      rgba(253, 253, 253, 0.04) 50%,
      rgba(253, 253, 253, 0.04) 100%
    ),
    linear-gradient(266deg, rgb(5, 73, 170), rgb(140, 100, 243));
  height: 610px;
}
#circles {
  display: block;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
  width: 100vw;
  height: 610px;

}
.banner-text {
  position: relative;
  top: 150px;
  text-align: center;
  color: white;
}
.banner-area h2 {
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 2px 2px #000;
  text-align: center;
  font-family: "Merriweather", serif;
}
.banner-area h1 {
  text-transform: uppercase;
  text-shadow: 0 2px 2px #000;
}
.banner-area p {
  font-size: 25px;
}
.banner-area strong {
  font-family: "Merriweather", serif;
}
.domain-text {
  color: white;
  padding: 5px;
  font-size: 17px;
}
.getstarted {
  position: relative;
  top: 20px;
}
.getstarted button {
  width: 200px;
  font-size: 25px;
}
.textchng {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.firsttext {
  padding: 1em;
  font-size: 30px;
  text-align: center;
  background-color: silver;
  font-family: "Bree Serif", serif;
}
@media (max-width: 400px){
  .firsttext {
    padding: 1em;
    font-size: 20px;
    text-align: center;
    background-color: silver;
    font-family: "Bree Serif", serif;
  }
  .banner-area h1 {
    text-transform: uppercase;
    text-shadow: 0 2px 2px #000;
    font-size: 30px;
  }

}
.package-head {
  display: block;
  padding: 1em;
  text-align: center;
  font-size: 30px;
  font-family: "Acme", cursive;
  font-weight: normal;
}
.list-group {
  text-align: center;
  margin-bottom: 4em;
  padding: 40px 20px;
  box-shadow: rgba(58, 78, 95, 0.2) 0 10px 16px,
    rgba(58, 78, 95, 0.05) 0 -5px 16px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.package-headtext {
  background-color: wheat;
  padding: 1em 0em 1em 0em;
}
.package-headtext h2 {
  font-weight: bold;
}
.package-headtext h2 span {
  text-align: center;
  font-size: 17px;
  bottom: 5px;
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
  position: relative;
  background-color: rgba(175, 160, 160, 0.966);
  color: white;
}
.package-headtext h5 {
  color: darkslategrey;
  font-weight: normal;
  padding-bottom: 20px;
}
.package-headtext h6 {
  color: darkslategrey;
  font-weight: normal;
  margin-bottom: 0px;
}
.package-headtext h1 {
  font-size: 30px;
}
.domain-srch-area {
}
.lbltext {
  text-align: center;
  display: block;
  margin-top: 2em;
  padding-bottom: 1em;
  font-size: 25px;
  font-family: "Acme", cursive;
  font-weight: normal;
}
.domain-value {
  text-align: center;
}
.domain-value li {
  list-style: none;
}
.dis-area h1 {
  text-align: center;
  font-family: "Acme", cursive;
  font-weight: normal;
}
.dis-area span {
  text-align: center;
  font-weight: normal;
  padding: 10px 0px;
  display: block;
}
.dis-art span {
  font-size: 80px;
  color: #0073ec;
  margin-right: 10px;
}
.dis-art h3,
p {
  text-align: center;
}
.help-area {
  text-align: center;
  padding: 3em 0em;
}
.help-area h1 {
  color: white;
  padding-bottom: 0.5em;
  font-family: "Acme", cursive;
  font-weight: normal;
}
.help-area p {
  color: #fff;
  font-size: 20px;
}
.help-area button {
  font-size: 20px;
}
.footer {
  padding: 1em;
}
.footer ul {
  padding: auto;
}
.footer ul li {
  list-style: none;
  color: #fff;
  display: inline-block;
  padding-left: 10px;
}
.footer ul li a {
  color: white;
}
.footer ul li a:hover {
  color: #0073ec;
  cursor: pointer;
}
.footer .fa {
  background-color: transparent;
  padding: 10px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid silver;
  color: silver;
  display: inline-block;
  text-align: center;
}
.footer .fa:hover {
  background-color: silver;
  color: white;
  transition: all 0.3s ease-in;
}
